.IPFS {
    text-align: center;
}

.IPFS-section {
    background-image: linear-gradient(to bottom right, rgb(1, 7, 92), rgb(173, 2, 2));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: rgb(255, 255, 255);
}

.IPFS-button {
    color: #604c4c;
    display: flex;
    border-radius: 10%;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 8px solid rgb(105, 7, 89);
    
    margin-top:calc(50px) ;
    padding-left: calc(35px);
    padding-right: calc(35px);
    font-size: calc(35px);
    font-weight: 600;
    cursor: pointer;

}

.IPFS-form {
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    padding: calc(60px);
    padding-bottom: calc(-10px);
    border: 8px solid rgb(215, 40, 84);
    box-sizing: border-box;
}

.IPFS-form-inbox {
    color: #050505;
    background-color: #ffffff;
    display: flex;
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    width: calc(60vh) ;
    justify-content: center;
    font-size: calc(35px);
    padding: calc(10px);

}